:root {
  /* Colors */
  --primary-color: #1f2041;
  --secondary-color: #4b3f72;
  --tertiary-color: #119da4;

  /* Fonts */
  --primary-font-family: 'Poppins', serif;
  --secondary-font-family: 'Jersey 15', serif;
  --primary-font-color: #fff;
  --secondary-font-color: #ffc857;
  --large-font-size: 5rem;
  --medium-font-size: 2.2rem;
  --small-font-size: 1.8rem;
}

body {
  display: grid;
  grid-template-rows: 20% 1fr auto;
  align-items: center;
  font-family: var(--primary-font-family);
  background-color: var(--primary-color);
}

.game-title {
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: var(--large-font-size);
  color: var(--secondary-font-color);
}

.main-container {
  align-self: start;
}

.select-pet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.section-subtitle {
  text-align: center;
  font-size: var(--medium-font-size);
  color: #fff;
}

.pet-card-container {
  display: flex;
  flex-direction: column;
}

.pet-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px;
  padding: 48px 56px;
  border-radius: 12px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  width: 180px;
  height: 100px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.pet-card:hover,
input[type='radio']:checked + .pet-card {
  outline: 2px solid var(--tertiary-color);
}

.select-pet-button {
  margin-top: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  background-color: var(--tertiary-color);
  cursor: pointer;

  &:hover {
    outline: 2px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}

.select-attack-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.attack-buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 12px;
  padding: 0 10px;
}

.attack-button {
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
  cursor: pointer;

  &:hover {
    outline: 2px solid var(--tertiary-color);
  }
}

.disabled {
  cursor: no-drop;
  opacity: 0.4;

  &:hover {
    outline: none;
  }
}

.combat-result {
  color: var(--secondary-font-color);
  font-size: var(--small-font-size);
  font-weight: bold;
  margin-top: 24px;
}

.player-info-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  width: 100%;
}

.player-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.mokepon-image {
  width: 80%;
  max-width: 200px;
}

.pet-lives {
  text-align: center;
}

.pet-name {
  font-weight: bold;
}

.attack-messages-section {
  text-align: center;
}

.result-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(0, 0, 0, 0.7);
}

.game-result-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--secondary-font-color);
  border-radius: 12px;
  padding: 73px 54px;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  background-color: rgb(0, 0, 0, 0.8);
}

.restart-button {
  padding: 4px 16px;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-font-color);
  color: var(--primary-color);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
  }
}

.footer-text {
  text-align: center;
  margin: 20px 0;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
}

.footer-link {
  color: var(--tertiary-color);
}

.hidden {
  display: none;
}

@media (width >= 440px) {
  .game-title::after {
    content: '🔥💧🌱';
  }
}

@media (width >= 800px) {
  .pet-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    max-width: 1200px;
  }

  .mokepon-image {
    max-width: 224px;
  }
}

@media (width >= 1100px) {
  .select-pet-section {
    width: 100%;
  }

  .pet-card-container {
    gap: 12px;
  }

  .pet-card {
    flex-direction: column-reverse;
    gap: 12px;
    padding: 32px;
    width: 260px;
    height: 300px;
  }

  .player-info {
    position: relative;
    flex-direction: row;
    gap: 20px;

    &:last-child {
      flex-direction: row-reverse;
    }
  }

  .mokepon-image {
    max-width: 300px;
  }

  .player-stats {
    position: absolute;
    right: -60px;
    top: 78px;
  }

  .enemy-stats {
    position: absolute;
    top: 78px;
    left: -60px;
  }
}
