:root {
  /* Colors */
  --primary-color: #1f2041;
  --secondary-color: #4b3f72;
  --tertiary-color: #119da4;

  /* Fonts */
  --primary-font-family: 'Poppins', serif;
  --secondary-font-family: 'Jersey 15', serif;
  --primary-font-color: #fff;
  --secondary-font-color: #ffc857;
  --large-font-size: 5rem;
  --medium-font-size: 2.2rem;
  --small-font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-family);
  background-color: var(--primary-color);
}

.game-title {
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: var(--large-font-size);
  color: var(--secondary-font-color);
}

.select-pet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subtitle {
  font-size: var(--medium-font-size);
  color: #fff;
}

.pet-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px;
  padding: 48px 52px;
  border-radius: 12px;
  width: 180px;
  height: 100px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.pet-card:hover,
input[type='radio']:checked + .pet-card {
  outline: 2px solid var(--tertiary-color);
}

.pet-card p {
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
}

.select-pet-button {
  margin-top: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.select-pet-button:hover {
  outline: 2px solid var(--primary-font-color);
}

.select-attack-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.attack-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 12px;
}

.attack-button {
  padding: 10px 14px;
  border: none;
  border-radius: 12px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.attack-button:hover {
  outline: 2px solid var(--tertiary-color);
}

.player-info-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
  font-size: var(--small-font-size);
  color: var(--primary-font-color);
  width: 100%;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
